.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    font-family: "League Spartan", sans-serif;
    justify-content: center;
    color: rgb(47, 47, 110);
    font-size: 40px;
    padding-top: 40px;
}
