/* styles.module.css */

.page {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  height: 100vh;
  padding-right: 50px; /* Mover os botões um pouco mais para a esquerda */
  background-color: #f4f4f4;
}

.button {
  width: 250px;
  padding: 15px;
  margin-bottom: 10px;
  background-color: #66bb6a; /* Cor verde claro */
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  text-align: center; /* Texto centralizado */
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #4caf50; /* Cor verde mais escura ao passar o mouse */
}
